.symptomsgrid {
    position: fixed;
    z-index: -1;
}

.symptomtitle {
    margin: 0;
    font-family: 'Swiss-BC';
    font-size: 14.4em;
    letter-spacing: 30px;
    color: rgba(1, 255, 255, 0.1);
    position: fixed;
    top: 0.7em;
    right: 0em;
    z-index: -1;
}

.cards {
    display: flex;
    margin: 10% 0;
    justify-content: center;
    width: 100vw;
}

.carditem {
    display: flex;
    flex-direction: column;
    margin-right: 1.2em;
    width: 18%;
    height: auto;
    cursor: pointer;
}

.carditem:hover {
    border: 4px solid rgb(192, 23, 49);
}

.carditem:last-of-type {
    margin-right: 0;
}

.cardimg img {
    width: 100%;
    margin-bottom: -0.2em;
}

.cardtitle {
    background: rgb(192, 23, 49);
    text-align: center;
    font-family: 'Swiss-BC';
    letter-spacing: 3px;
    font-size: 1.3em;
    padding: 0.5em 0;
}

.cardtitle a {
    color: #ffffff;
}

.symptom {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: -1;
    display: none;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.symptom-mob {
    display: none;
}

.slider-symp {
    border-bottom: none;
}

.symp-second {
    margin: 0 11%;
}

.symp-desc {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.close-symp {
    display: inline-flex;
    margin-bottom: 1em;
}

.close-symp a {
    background: rgba(5, 31, 79, 0.5);
}

.close-symp img {
    width: 26px;
    padding: 0.5em;
}

.symp-desc-second {
    display: flex;
    align-items: center;
    margin-right: -7em;
}

.description-text {
    padding: 1em 13em 3em 4em;
    background-color: rgba(1, 26, 112, 0.7);
    height: 24em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-text h1 {
    display: block;
    margin-bottom: 0;
    font-family: 'Swiss-M';
    color: #ffffff;
    font-size: 3em;
    letter-spacing: 1px;
}

.description-text p {
    font-family: 'Swiss-R';
    color: #ffffff;
    text-align: justify;
    font-size: 1.2em;
    margin: 0;
}

.symp-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 2em;
    right: 8em;
}

.symp-cta {
    margin-top: 1em;
    display: flex;
}

.symp-cta a {
    background: #c01731;
    font-family: 'Swiss-BC';
    color: #ffffff;
    letter-spacing: 3px;
    padding: 0.8em 2em;
    padding-right: 1.2em;
    text-decoration: none;
    font-size: 1.3em;
    margin-right: 3em;
    display: flex;
    align-items: center;
}

.symp-cta img {
    width: 15px;
    margin-left: 1em;
}

.symp-title,
.back-symp {
    display: none;
}

@media screen and (max-width: 1680px) {
    .symptomtitle {
        font-size: 12.4em;
        top: 0.8em;
    }
    .symp-second {
        margin: 0 8%;
    }
    .description-text {
        padding: 1em 11em 3em 4em;
    }
    .symp-cta a {
        padding: 1em 2em;
        font-size: 1em;
    }
    .symp-cta a:last-of-type {
        margin-right: 0;
    }
}

@media screen and (max-width: 1440px) {
    .symptomtitle {
        top: 0.9em;
        letter-spacing: 20px;
        font-size: 10.4em;
    }
}

@media screen and (max-width: 1366px) {
    .symptomtitle {
        font-size: 9.4em;
        top: 0.7em;
    }
    .cards {
        margin-top: 7.5%;
    }
    .cardtitle {
        font-size: 1em;
    }
    .symp-desc-second {
        margin-right: -8em;
    }
    .description-text {
        height: 18em;
    }
    .description-text h1 {
        font-size: 2.5em;
    }
    .description-text p {
        font-size: 1em;
    }
    .symp-cta a {
        padding: 0.7em 2em 0.5em;
    }
    .close-symp img {
        width: 20px;
    }
    .symp-img picture img {
        width: 270px;
    }
}

@media screen and (max-width: 1112px) {
    .symptomtitle {
        top: 1.5em;
        font-size: 7.4em;
    }
    .cards {
        margin-top: 16%;
    }
    .cardtitle a {
        font-size: 0.8em;
    }
    .close-symp img {
        width: 15px;
    }
    .description-text {
        padding: 1em 10em 1.5em 3em;
        height: 16em;
    }
    .description-text h1 {
        font-size: 1.5em;
    }
    .description-text p {
        font-size: 0.8em;
    }
    .symp-img picture img {
        width: 240px;
    }
    .symp-cta a {
        font-size: 0.8em;
        margin-right: 1em;
        padding: 0.7em 1.5em 0.5em;
    }
}

@media screen and (max-width: 900px) {
    .symptomsgrid {
        display: flex;
        flex-direction: column;
        position: unset;
    }
    .symptomtitle {
        font-size: 2.7em;
        font-family: 'Swiss-H';
        text-align: center;
        color: #01ffff;
        margin: 0;
        padding: 0.3em;
        position: unset;
        letter-spacing: 10px;
    }
    .cards {
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 9em;
    }
    .carditem {
        margin-bottom: 1.2em;
        width: 32%;
    }
    .carditem:nth-of-type(2n) {
        margin-right: 0;
    }
    .cardtitle {
        padding: 0.7em 0;
        font-size: 1.5em;
    }
    .next.next-symp,
    .prev.prev-symp,
    .close-symp {
        display: none;
    }
    .symptom {
        height: auto;
        position: relative;
        z-index: 0;
        flex-direction: column;
        align-items: end;
        margin-bottom: 9em;
    }
    .symptom-desk {
        display: none;
    }
    .symptom-mob {
        display: flex;
        justify-content: center;
        margin: 2em 0;
    }
    .slider-symp {
        align-items: unset;
    }
    .symp-desc {
        margin: 0;
        align-items: flex-end;
    }
    .symp-second {
        margin-top: -12em;
        margin: 0 4%;
    }
    .symp-desc-second {
        margin-top: -4em;
        flex-direction: column-reverse;
        margin-right: 0;
    }
    .description-text {
        border: 0;
        padding: 5em 3em 3em;
        background: rgba(25, 42, 164, 0.7);
        height: auto;
    }
    .symp-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .prev-mob {
        position: absolute;
        left: 0;
        background: #01ffff;
        padding: 0.5em;
    }
    .next-mob {
        position: absolute;
        right: 0;
        background: #01ffff;
        padding: 0.5em;
    }
    #symp-title-h1 {
        display: block;
        padding: 0;
        font-size: 2.5em;
        text-align: center;
        margin: 0.67em auto;
    }
    .description-text h1 {
        display: none;
    }
    .description-text p {
        font-size: 1.1em;
        margin: 1em 0;
    }
    .symp-img {
        margin: 0 auto;
        right: 0;
        top: 4em;
    }
    .symp-img picture img {
        height: 250px;
        width: auto;
    }
    .symp-cta {
        display: flex;
        margin: 0;
        width: 100%;
        justify-content: space-between;
        position: relative;
        bottom: -4em;
        margin-top: -3em;
    }
    .symp-cta a {
        font-size: 1.5em;
        margin: 0;
    }
    .symp-cta a:last-of-type {
        padding: 0 3em;
    }
}

@media screen and (max-width: 660px) {
    .description-text p {
        font-size: 1em;
    }
    .symp-cta a {
        font-size: 1.2em;
    }
    .symptomtitle {
        font-size: 2.5em;
    }
    .cardtitle {
        font-size: 1em;
    }
    .prev-mob img,
    .next-mob img {
        width: 25px;
    }
}

@media screen and (max-width: 570px) {
    .back-symp {
        top: -8em;
    }
    .description-text {
        padding: 5em 2em 3em;
    }
    .symptomtitle {
        font-size: 2em;
    }
    #symp-title-h1 {
        font-size: 2em;
    }
    .symp-cta a {
        font-size: 1em;
        padding: 1em;
    }
    .symp-cta a:last-of-type {
        padding: 0 2.5em;
    }
    .symp-img picture img {
        height: 220px;
    }
}

@media screen and (max-width: 420px) {
    .symptomtitle {
        margin: 0;
        letter-spacing: 5px;
    }
    .carditem {
        width: 42%;
    }
    .cardtitle {
        font-size: 0.8em;
    }
    #symp-title-h1 {
        font-size: 1.8em;
    }
    .symp-cta a {
        padding: 0.7em 0.5em;
        letter-spacing: 2px;
    }
    .symp-cta a:last-of-type {
        padding: 0 2em;
    }
    .symp-img picture img {
        height: 160px;
    }
    .symp-cta img {
        width: 11px;
        margin-left: 0.5em;
    }
    .prev-mob img,
    .next-mob img {
        width: 20px;
    }
}

@media screen and (max-width: 375px) {
    .symp-cta a {
        padding: 0.7em 0.5em;
        letter-spacing: 1px;
    }
    .symp-cta a:last-of-type {
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 320px) {
    .symp-cta a {
        font-size: 0.8em;
    }
    .prev-mob img,
    .next-mob img {
        width: 16px;
    }
}